.title {
    padding: 14px;
    margin-bottom: 17px;
    font-size: 46px;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.basket-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 1rem;
}

.basket-items {
    flex: 1;
    max-width: calc(100% - 300px);
}

.basket-item {
    display: flex;
    gap: 16px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 11px;
    background: linear-gradient(to right,#8decdd, #b1a3ff);
}


.item-image img {
    width: 94%; 
    height: 245px; 
    object-fit: contain;
    border-radius: 44px;
}

.item-details {
    flex-grow: 1;
    font-size: 21px;
}

.item-name {
    font-weight: bold;
    font-size: 41px;
    margin-bottom: 0.9rem;
}

.item-price {
    color: #666;
    margin-bottom: 0.9rem;
}

.item-quantity {
    color: #666;
    margin-bottom: 0.9rem;
}

.remove-item {
    width: 95%;
    padding: 10px;
    margin-top: 63px;
    font-size: 1rem;
    color: white;
    background-color: #e11313;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove-item:hover {
    background-color: #b11b1b;
}


/* Right Side Order Summary */
.order-summary {
    flex-basis: 300px;
    align-self: flex-start;
    position: sticky;
    height: fit-content;
    overflow: auto;
    top: 110px;
    padding: 1rem;
    background-color: #b1a3ff;
    border-radius: 4px;
}

h3 {
    border-bottom: 1px solid #000000;
    font-size: 32px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.9rem;
}

.summary-row.total {
    font-weight: bold;
}

.btn-payment {
    width: 100%;
    padding: 10px;
    margin-top: 24px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-payment:hover {
    background-color: #0056b3;
}




.no-items {
    text-align: center;
    margin-top: 1rem;
    color: #000000;
    font-size: 26px;
}

.item-count {
    color: #888;
    font-size: 18px;
    margin-left: 6px;
}

/* Responsive design */
@media (max-width: 1177px) {
    .basket-container {
        flex-direction: row;
    }

    .basket-items {
        max-width: 60%;
    }

    .order-summary {
        max-width: 40%;
    }
}
