.account-container {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right,#c9d6ff, #8decdd);
    color: #ffffff; 
}



h2 {
    color: #ffff;
    border-bottom: 1px solid #000000;
    text-align: center;
}
    

p {
    margin: 10px 0;
    text-align: center;
}

.gp-icon img {
    width: 81px; 
    height: 81px;
    margin-right: 73px;
    margin-left: 45%;
    margin-bottom: 18px;
    border: 1px solid #000000;
    border-radius: 40px;
}
    
    
.account-details {
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 8px;
    padding: 10px;
    background-color: #c8d7fe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    color: #523ea5;
}

.account-details:hover {
    background-color: #512da8;
    color: white;
}
    
