.all-users-container {
    max-width: 70%;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #8decdd;
}
  
h1 {
    color: #333;
    text-align: center;
}
  
p {
    color: #666;
    text-align: center;
}
  
  /* User card styles */
.user-card {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid hsl(160, 70%, 48%);
}
  
.user-icon img {
    width: 81px; 
    height: 81px;
    margin-right: 73px;
    border: 1px solid #000000;
    border-radius: 40px;
}
  
.user-info {
    flex-grow: 1;
}
  
.user-actions {
    text-align: right;
}
  
.user-actions button {
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 5px;
    cursor: pointer;
}
  
.edit {
    background-color: #4CAF50; /* Green */
    color: white;
}
  
.delete {
    background-color: #F44336; /* Red */
    color: white;
}
  
/* Responsive adjustments */
@media (max-width: 768px) {
    .user-card {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .user-actions {
      text-align: left;
      margin-top: 10px;
    }
}