.flash-message {
    position: fixed;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 9px;
    z-index: 1000;
    text-align: center;
  }
  
  .success {
    background-color: #28a745;
    color: white;
  }
  
  .error {
    background-color: #dc3545; 
    color: white;
  }
  