<nav class="navbar">
  <div class="navbar-brand">
    <a [routerLink]="getHomeRoute()">MyHealthPal</a>
  </div>
  <div class="menu-toggle" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="navbar-links" [class.active]="menuOpen">

    <!-- Display these links if the user is an admin -->
    <ng-container *ngIf="isLoggedIn() && isAdmin()">
      <a routerLink="/all-users">All Users</a>
      <a routerLink="/all-gps">All GPs</a>
      <a routerLink="/item-functions">Item Functions</a>
      <a routerLink="/admin-profile">Admin Account</a>
    </ng-container>

    <!-- Display these links if the user is logged in -->
    <ng-container *ngIf="isLoggedIn() && isUser()">
      <a routerLink="/user-booking">Book Appointment</a>
      <a routerLink="/user-appointments">Appointments</a>
      <a routerLink="/user-profile">Account</a>
      <a routerLink="/all-user-items">shop</a>
      <a routerLink="/user-basket"> <fa-icon [icon]="faShoppingCart"></fa-icon><span *ngIf="basketCount > 0" class="badge">{{ basketCount }}</span></a>
    </ng-container>

    <ng-container *ngIf="isLoggedIn() && isGP()">
      <a routerLink="/gp-appointments">Appointments</a>
      <a routerLink="/all-patients">Patients</a>
      <a routerLink="/gp-profile">Account</a>
    </ng-container>


    <ng-container *ngIf="isLoggedIn()">
      <button (click)="onLogout()">Logout</button>
    </ng-container>
  </div>
</nav>
