<div class="container">
    <header class="header">
        <div class="content">
            <h1><span>Get Quick</span><br />Medical Services</h1>
            <p>
                In today's fast-paced world, access to prompt and efficient medical
                services is of paramount importance. When faced with a medical
                emergency or seeking immediate medical attention, the ability to
                receive quick medical services can significantly impact the outcome
                of a situation. Better health and wellness with MyHealthPal. 
                Access healthcare services, manage appointments, and shop for health products—all in one place.
            </p>
            <div class="info-boxes">
                <div class="info-box" id="box1">
                    <h3>Book Appointments</h3>
                    <p>Conveniently book appointments with your GP at any time. Say goodbye to waiting in lines and enjoy immediate access to healthcare professionals.</p>
                    <a routerLink="/user-booking" class="btn-get-started">Book Now</a>
                </div>
                <div class="info-box" id="box2">
                    <h3>Shop Health Products</h3>
                    <p>Browse through our extensive collection of health products. From vitamins to personal care, find everything you need to maintain a healthy lifestyle.</p>
                    <a routerLink="/all-user-items" class="btn-get-started">Shop Now</a>
                </div>
                <div class="info-box" id="box3">
                    <h3>Manage Your Health</h3>
                    <p>Keep track of your health records, prescriptions, and appointments all in one secure location. Take control of your health with ease and confidence.</p>
                    <a routerLink="/user-profile" class="btn-get-started">Manage Now</a>
                </div>
            </div>
        </div>
        <div class="image">
            <span class="DrImage"></span>
            <img src="http://localhost:5000/static/header-bg.png" alt="header image" />
            <div class="mini_content mini_box1">
                <span><i class="greenDot"></i></span>
                <div class="details">
                    <h4>1520+</h4>
                    <p>Active Clients</p>
                </div>
            </div>
            <div class="mini_content mini_box2">
                <ul>
                    <li>
                        <span><i></i></span>
                        Book 20% faster with MyHealthPal
                    </li>
                    <li>
                        <span><i></i></span>
                        Personal Appointments to suit you
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>
<app-chatbot></app-chatbot>