<div *ngIf="item" class="item-details-container">
  <h2 class="item-title">{{ item.name }}</h2>
  <img [src]="'http://127.0.0.1:5000/static/item_images/' + item.item_image" alt="{{ item.name }}" class="item-poster">
  <div class="item-info">
    <p>{{ item.description }}</p>
    <p><strong>Price:</strong> {{ item.price | currency }}</p>
  </div>

  <h3 class="review-title">Reviews:</h3>
  <div *ngFor="let review of reviews" class="card-deck">
    <div class="card">
      <div class="card-header">
        <strong>{{ review.name }}:</strong>
      </div>
      <div class="card-body">
        <p>{{ review.comment }}</p>
        <p>Rating: {{ review.rating }}</p>
      </div>
      <div class="card-footer">
        <button (click)="deleteReview(review.review_id)" class="btn-danger">Delete Review</button>
      </div>
    </div>
  </div>
</div>
